<div class=page-header>
  <%= link_to 'See Map', map_path, class: 'pull-right' %>
  <h1>Players</h1>
</div>
<% @users.each do |user| %>
  <div class="col-md-4">
    <center><%= image_tag(user.avatar_url, class: 'img-responsive', id: 'avatar') %></center>
    <div class="user-info">
      <center><hr class="section-heading-spacer" id="user-heading"></center>
      <center><%= user.full_name %></center>
      <center><%= user.email %></center>
      <center><%= user.bio %></center>
      <center><%= user.ability %></center>
    </div>
  </div>
<% end %>
