<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
     <div class="item active">
      <%= image_tag("ball.jpg", class: 'layer') %>
       <div class="carousel-caption">
           <h2>Find Your Tennis Community</h2>
       </div>
     </div>
     <div class="item">
       <%= image_tag("rackets.jpg", class: 'layer') %>
       <div class="carousel-caption">
           <h2>Get outside, play tennis, and have fun!</h2>
       </div>
     </div>
   </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="fa fa-angle-left" id="arrow"></i>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="fa fa-angle-right" id="arrow"></i>
  </a>
</div> <!-- Carousel -->

<div class="col-md-12 about clearfix">
  <hr>
  <h2>ProMatch is where you can find your tennis community.</h2>
  <p class="lead">Let us match you with players in your area and at your level.</p>
</div>
<div class="row clearfix features">
  <div class="col-md-3 feature" id="sign_up">
    <h2 id="sign_up_text">Sign Up</h2>
    <%= link_to signup_path do %>
      <%= image_tag('keyboard.jpg', size: '265x265', id: 'keyboard') %>
    <% end %>
  </div>
  <div class="col-md-3 feature" id="explore_map">
    <h2 id="map_text">Explore Map</h2>
    <%= link_to map_path do %>
      <%= image_tag('map.jpg', size: '265x265', id: 'denver_map') %>
    <% end %>
  </div>
  <div class="col-md-3 feature" id="matches">
    <h2 id="matches_text">Meet Matches</h2>
    <%= link_to matches_path do %>
      <%= image_tag('handshake.jpg', size: '265x265', id: 'handshake') %>
    <% end %>
  </div>
  <div class="col-md-3 feature" id="message_board">
    <h2 id="message_board_text">What's Up?</h2>
    <%= link_to messages_path do %>
      <%= image_tag('message_board.jpg', size: '265x265', id: 'message_board_image') %>
    <% end %>
  </div>
</div>
